* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    max-zoom: 80%;
    min-zoom: 67%;
    user-zoom: fixed;
}

a {
    text-decoration: none;
    color: #fff;
}

.menu-layout1 {
    position: relative;
    display: flex;
    justify-content: center;
    top: 2em;
    gap: 7em;
}

.sobre-layout1 {
    padding: 9px;
    transition: transform 0.4s;   
    transition: trasnform translateY(-0.5vh);
}

.sobre-layout1:hover {
    transform: translateY(-0.5vh);
}

.products-layout1 {
    padding: 9px;
    transition: transform 0.4s;   
    transition: trasnform translateY(-0.5vh);
}

.products-layout1:hover {
    transform: translateY(-0.5vh);
}

.services-layout1 {
    padding: 9px;
    transition: transform 0.4s;   
    transition: trasnform translateY(-0.5vh);
}

.services-layout1:hover {
    transform: translateY(-0.5vh);
}

.layout1 {
    z-index: -1;
    display: flex;
    width: 100%;
    height: 100px;
    top: -2.2em;
    background-color: #000000;
    position: relative;
    user-select: none;
}

.logo1 {   
    zoom: 33%;
    top: 5rem;
    left: 30rem;
    position: absolute;
    user-select: none;
}

nav {
    position: absolute;
    right: 50px;
    bottom: 2vh;
}

nav ul {
    display: inline-block;
    align-items: center;
}

nav ul a {
    font-size: 15px;
    width: max-content;
    text-align: center;
    padding: 1px 1em 1px 1em;
    border: 3px inset #000;
    border-radius: 50%; 
    margin: 5px;
}

.foto1 {
    zoom: 44%;
    z-index: 1;
    display: flex;
    position: relative;
    top: 0px;
    left: 0px;
}

.faixada {
    display: grid;
    align-items: end;
    justify-content: start;
    width: 900px;
    height: 1350px;
    background: #000000;
    z-index: 1;
    zoom: 80%;
}

.line1{
    background-color: #000000;
    height: 475px;
    width: 100%;
    top: 5rem;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.frase1 {
    display: grid;
    position: relative;
    color: #000;
    background: #fff;
    font-family: 'Agbalumo';
    text-align: center;
    font-size: 60px;
    height: 150px;
    width: 560px;
    padding: 4px 85px;
    border: 2px solid #fff;
    border-radius: 12px;
}

.frase2 {
    display: grid;
    position: relative;
    text-align: center;
    width: 600px;
    height: 9px;
    bottom: -4vh;
    font-size: 60px;
    color: #fff;
    font-family: 'Noto Serif', serif;
}

.img-logo {
    display: grid;
    position: relative;
}

.line2 {
    position: relative;
    top: 33vh;
    background-image: linear-gradient(90deg, #000 40%,#0070);
    width: 100%;
    height: 500px;
    padding: 25px;
    display: inline-block;
    justify-content: start;
}

.unidade {
    zoom: 30%;
    display: flex;
    position: relative;
    margin-left: 42vw;
    top: 20vh;
    width: 80px;
}

.text-unidade {
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 50px;
    font-family: 'RICH THE BARBER PERSONAL USE', sans-serif;
    margin-left: 13vw;  
    width: 100px;
}

ul li a {
    position: relative;
    display:  inline-flex;
    top: 3vh;
    margin-left: 13vw;
    width: 300px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

ul li a svg {
    padding-right: 1em;
}

iframe {
    display: inline-block;
    position: relative;
    margin-left: 62vw;
    bottom: 50vh;
    height: 300px;
    width: 300px;
    opacity: 50%;
    transition: opacity 1s;
    border: solid #000;
    border-radius: 7px;
}

iframe:hover {
    opacity: 100%;
}

.line3 {
    display: grid;
    position: relative;
    grid-template-columns: 410px 410px 410px;
    grid-template-rows: 100px 100px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    top: 10vh;
    width: 100%;
    height: 450px;
    background-color: #323232;
}

.agendamento-frase1 {
    display: grid;
    width: 400px;
    height: 150px;
    text-align: center;
    font-size: 28px;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Fredericka the Great', serif;
    color: #fff;
}

.explication1 {
    font-size: 12px;
    font-family: 'Frank Ruhl Libre', serif;
    color: #fff;
    width: 600px;
    display: flex;
    justify-content: center;
    text-align: left;
    position: relative;
    top: 5rem;
    left: 11em;
}

div imput a {
    color: #fff;
    text-decoration: none;
}


div imput a svg {
    margin-right: 16px; 
    margin-top: 10px;
}

.app1 {
    background-color: #000d;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 3px;
    position: relative;
    left: 7vw;
    top: 3.6em;
    font-size: 30px;
    transition: background .5s;
}

.app1:hover {
    background-color: transparent;
}

.app2 {
    background-color: #000d;
    padding: 20px;
    padding-right: 40px;
    padding-left: 33px;
    border: 2px solid#fff;
    border-radius: 3px;
    position: relative;
    left: 23vw;
    top: 2em;
    font-size: 30px;
    transition: background .5s;
}

.app2:hover {
    background-color: transparent;
}

.agendamento-frase2 {
    font-size: 28px;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Fredericka the Great', serif;
    width: 300px;
    height: 150px;
    display: flex;
    position: relative;
    text-align: center;
    left: 90vh;
    bottom: 31.3vh;
    color: #ffffff;
}

.explication2 {
    display: flex;
    font-size: 12px;
    font-family: 'Frank Ruhl Libre', serif;
    color: #ffffff;
    width: 450px;
    justify-content: center;
    text-align: left;
    position: relative;
    bottom: 26.5vh;
    left: 93vh;
}

.button-more {
    position: relative;
    width: 280px;
    height: 100%;
    padding: 20px 40px;
    bottom: 24vh;
    left: 47vw;
    border: 2px solid #fff;
    border-radius: 3px;
    font-family: 'Caprasimo', serif;
    font-size: 30px;
    transition: transform 1s;
    transition: transform translateY(-1rem);
}

.button-more:hover {
    transform: translateY(-1rem);
}

.phone {
    display: grid;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    left: 80vw;
    grid-template-rows: 400px;
    transition: transform 1s;
    transition: transform translateY(-2rem);
}

.phone:hover {
    transform: translateY(-2rem);
}

.line4 {
    display: flexbox;
    position: absolute;
    justify-content: start;
    width: 800px;
    height: 400px;
    background-color: #323232;
}

.margin-text {
    display: flex;
    position: absolute;
    justify-content: left;
    font-size: 30px;
    width: 350px;
    height: 400px;
    background-color: #000;
}

.history1 {
    color: #757575;
    display: flex;
    position: absolute;
    width: 229px;
    top: -0.7em;
    left: -1.3em;
    font-size: 100px ;
    font-family: 'Anton', sans-serif;
}

.history2 {
    color: red;
    display: flex;
    position: absolute;
    text-align: left;
    width: 350px;
    font-size: 25px;
    padding: 20px;
    top: 3vh;
    right: 4vw;
}

.button-history {
    display: flex;
    position: relative;
    text-align: center;
    width: 180px;
    height: 65px;
    padding: 13px;
    left: 13vw;
    top: 35vh;
    border: 2px solid #000;
    border-radius: 3px;
    font-family: 'Caprasimo', serif;
    font-size: 19px;
    transition: transform .5s;
    transition: transform tranlateY(-1rem);
}

.button-history:hover{
    transform: translateY(-1rem);
}

.line-services {
    display: flex;
    position: relative;
    justify-content: left;
    width: 100%;
    top: 55vh;
    height: 550px;
    background-image: linear-gradient(90deg, #323232 50%, transparent 80%);
}

.img-services {
    display: grid;
    position: absolute;
    zoom: 81.5%;
    z-index: -1;
    right: 0vw;
}

.button-services {
    display: flex;
    position: relative;
    background: transparent;
    color: #fff;
    width: 250px;
    height: 110px ;
    padding: 9px 9px;
    top: 25vh;
    left: 18vw;
    font-size: 40px;
    font-family: 'Caprasimo', serif;
    border: 2px solid #000;
    border-radius: 3px;
    transition: transform .5s;
    transition: transform translateY(-1vh);
}

.button-services:hover {
    transform: translateY(-1vh);
}

.services1{
    display: grid;
    position: relative;
    font-size: 50px;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Fredericka the Great', serif;
    color: #fff;
    justify-content: space-between;
    left: 20vw;
    top: 14px;
}

.services2 {
    display: grid;
    position: relative;
    font-size: 50px;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Fredericka the Great', serif;
    color: #000;
    justify-content: space-between;
    top: 2em;
    left: 13vw;
}

.layout2 {
    display: flex;
    position: relative;
    width: 100%;
    height: 300px;
    top: 70vh;
    background: #000;
    user-select: none;
}

.logo2 {   
    zoom: 33%;
    top: 50vh;
    left: 20vw;
    position: absolute;
    justify-content: flex-start;
    user-select: none;
}

.menu-layout2 {
    position: relative;
    display: flex;
    justify-content: center;
    top: 57vh;
    gap: 3em;
}

.sobre-layout2 {
    padding: 9px;
    transition: transform 0.4s;   
    transition: trasnform translateY(-0.5vh);
}

.sobre-layout2:hover {
    transform: translateY(-0.5vh);
}

.products-layout2 {
    padding: 9px;
    transition: transform 0.4s;   
    transition: trasnform translateY(-0.5vh);
}

.products-layout2:hover {
    transform: translateY(-0.5vh);
}

.services-layout2 {
    padding: 9px;
    transition: transform 0.4s;   
    transition: trasnform translateY(-0.5vh);
}

.services-layout2:hover {
    transform: translateY(-0.5vh);
}

.copy-right {
    display: inline;
    position: absolute;
    justify-content: start;    
    height: 38px;
    width: 100%;
    top: 8vh;
    font-size: 10px;
    font-family: Sans-serif;
    color: #fff;
    padding: 9px;
    border-radius: 4px;
}
.contato {
    position: fixed;
    display: flex;
    bottom: 30px;
    right: 30px;
    z-index: 30;
}

@media screen and (max-width: 2400px) {
    .line2 {
        top: 25vh;
    }

    iframe {
        bottom: 34vh;
    }

    .line4 {
        top: 5vh;
    }

    .line-services {
        top: 20vh;
    }

    .layout2 {
        top: 33vh;
    }

    .menu-layout2 {
        top: 19vh;
    }

    .copy-right {
        top: 10vh;
        left: 5vw;
    }
}

@media screen and (max-width: 1700px) { 
    iframe {
        bottom: 40vh;
    }

}

@media screen and (max-width: 1450px) { 
    .line1 {
        zoom: 70%;
    }

    .frase1 {
        left: 10vw;
    }

    .frase2 {
        left: 9vw;
    }
    
    .img-logo {
        left: -10vw;
    }
    
    .line2 {
        zoom: 70%;
    }

    iframe {
        bottom: 45vh;
    }
    
    .line4 {
        left: 10vw;
        top: -35vh;
    }
    
    .line-services {
        zoom: 80%;
        top: -15vh;
    }
    
    .layout2 {
        zoom: 80%;
        top: 5vh;
    }
    
    .menu-layout2 {
        top: -20vh;
    }
    
    .copy-right {
        top: 20vh;
        left: 10vw;
    }

    nav {
        right: 50px;
    }

}


@media screen and (max-width: 1166px) { 
    
    .line4 {
        top: -17rem;
        left: 15vw;
        zoom: 85%;
    }
    
    .line-services {
        top: -20vh;
    }
    
    .services1 {
        margin-left: -9%;
    }
    
    .layout2 {
        top: 0px
    }

    .menu-layout2 {
        top: -29vh;
    }

    .copy-right {
        top: 21vh;
        left: 10vh;
    }

    nav {
        position: absolute;
        right:50px;
    }
}

@media screen and (max-width: 1020px) {
    iframe {
        left: 30vw;
    }


    .line4 {
        zoom: 75%;
        top: 20vh;
    }

    .line-services {
        zoom: 60%;
        top: 30vh;
    }

    .button-services {
        display: flex;
        position: relative;
        top: 35vh;
        left: 18vw;
        zoom: 80%;
        border: 3px solid #000000;
    }
    
    .layout2 {
        top: 45vh;
    }

    .logo2 {
        display: flex;
        position: relative;
        top: 30vh;
        left: 120vw;
    }

    .menu-layout2 {
        top: 20vh;
    }

    nav {
        position: absolute;
        right: 35vw;
        bottom: 6vh;
    }

    .copy-right {
        top: 20vh;
    }
}

@media screen and (max-width: 810px) {
    ul li a {
        width: 240px;
        margin-bottom: 2vh;
    }

    iframe {
        left: 30vw;
        bottom: 70vh;
        height: 180px;
        width: 180px;
    }

    .line4 {
        zoom: 65%;
        left: 30vw;
    }
}

@media screen and (max-width: 680px) {
    .line4 {
        zoom: 55%;
        top: -30vh;
        left: 25vw;
    }

    .line-services {
        top: -10vh;
        zoom: 50%;
    }

    .layout2 {
        top: 15vh;
    }
    
    .menu-layout2 {
        top: -10vh;
    }

    .logo2 {
        display: flex;
        position: relative;
        top: 20vh;
        left: 97vw;
    }

    nav {
        width: 270px;
        margin-left: 35vh;
    }

    .copy-right {
        top: 16vh;
        left: 3vw;
    }
}



/*SERVICES*/
